<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlyx.dao.CpuserDao">  

	<resultMap type="cpuser" id="cpInMap">
		<id column="cpId" property="cpId"/>
		<result column="pwd" property="pwd"/>
		<result column="cpName" property="cpName"/>
		<result column="tel" property="tel"/>
		<result column="idtId" property="idtId"/>
		<result column="logo" property="logo"/>
		<result column="che" property="che"/>
		<association property="indus" javaType="com.zlyx.entity.Indus" column="idtId">
			<id column="idtId" property="idtId"/>
			<result column="idtName" property="idtName"/>
		</association>
	</resultMap>
	<select id="findCpuserWithIdt" resultMap="cpInMap">
		SELECT * FROM cpuser cp LEFT JOIN indus i ON cp.idtId=i.idtId;
	</select>

    <select id="findCpuserAll" resultType="cpuser">
		select * from cpuser;
	</select>
	
	<select id="findCpuserById" resultType="cpuser" parameterType="Integer">
		select * from cpuser where cpId=#{cpId}
	</select>
	
	<insert id="insertCpuser" >
		insert into cpuser VALUES(null,#{pwd},#{cpName},#{tel},#{idtId},#{logo},#{che});
	</insert>
	
	<delete id="deleteCpuserById" parameterType="Integer">
     	delete from cpuser where cpId=#{cpId}
    </delete>
    
    <update id="updateCpuser">
		UPDATE cpuser SET cpName=#{cpName},tel=#{tel},che=#{che} WHERE cpId=#{cpId}
	</update>
	
</mapper>