<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlyx.dao.IndusDao">
    <select id="findIndusAll" resultType="indus">
		SELECT *,(SELECT COUNT(*) FROM cpuser cp WHERE i.idtId=cp.idtId) AS cpNum FROM indus i;
	</select>
	
	<select id="findIndusById" resultType="indus" parameterType="Integer">
		select * from indus where idtId=#{idtId}
	</select>
	
	<insert id="insertIndus" >
		insert into indus VALUES(#{idtId},#{idtName});
	</insert>
	
	<delete id="deleteIndusById" parameterType="Integer">
       delete from indus where idtId=#{idtId}
    </delete>
	
	<update id="updateIndus">
		UPDATE indus SET idtName=#{idtName} WHERE idtId=#{idtId}
	</update>
	
</mapper>