<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>springtest01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description/>
    <display-name>TestServlet1</display-name>
    <servlet-name>TestServlet1</servlet-name>
    <servlet-class>mvc.servlet.TestServlet1</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>TestServlet1</servlet-name>
    <url-pattern>/TestServlet1</url-pattern>
  </servlet-mapping>


  <servlet>
     <description/>
     <display-name>TestSpring</display-name>
     <servlet-name>TestSpring</servlet-name>
     <servlet-class>mvc.servlet.TestSpring</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>TestSpring</servlet-name>
		<url-pattern>/TestSpring</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
</web-app>